---
import HeroWithImageTiles from "../tailwindUI/Marketing/Page-Sections/Hero-Sections/with-image-tiles.vue";
---
<div class="sm:py-8 md:py-2 relative bg-gradient-to-r from-white via-purple-50 to-pink-50">
  <HeroWithImageTiles client:load></HeroWithImageTile>
</div>