---
import HeroWithImageTiles from "../tailwindUI/Marketing/Page-Sections/Hero-Sections/with-image-tiles.vue";
import HeaderIcons from "../HeaderIcons.vue";
---
<div class="sticky top-0 z-20 shadow-charade-800 shadow-[0_1px_13px_rgba(15,23,42,0.2)] text-white bg-charade-800">
  <div class="block w-full sticky top-0 z-10">
    <div class="mx-auto flex flex-wrap max-w-7xl items-center justify-between px-6 lg:px-8 z-auto py-2">

      <div class="flex">
        <p class="text-sm font-semibold leading-7 text-slate-300">
          Daysland Palace Theatre
        </p>
      </div>

    <!-- horizontal line
    <div class="w-full h-px bg-gray-200 my-2 sm:my-6 block sm:hidden" style="opacity: 1; transform-origin: 50% 50% 0px;"></div> -->

      <HeaderIcons client:load />
    </div>
  </div>

  <!-- horizontal line -->
  <div class="w-full h-px bg-gray-200 my-2 sm:my-6 block sm:hidden" style="opacity: 1; transform-origin: 50% 50% 0px;"></div>

  <div class="py-4">
    <HeroWithImageTiles client:load></HeroWithImageTile>
  </div>
</div>