---
import Layout from "../layouts/Layout.astro";
import OurStory from "../components/our-story.vue";
import Timeline from "../components/timeline.vue";
import HeroSecondary from "../components/hero-secondary.astro";
---

<Layout title="About DaysArts">
  <HeroSecondary
    tagline="Daysland and District Cultural Arts Society"
    title="About DaysArts"
    content="">
  </HeroSecondary>


    <div class="mx-auto max-w-7xl px-6 lg:px-8 relative isolate">

      <p class="mt-6 text-lg leading-8 text-gray-600">Daysland and District Cultural Arts Society is a cornerstone of our community's cultural scene. In addition to our acclaimed Concert Series, which annually features a remarkable lineup of Canadian performers, our Palace Theatre also offers regular movie showings. We present a variety of films, ensuring there's something for everyone to enjoy. Join us for a season filled with exceptional music, compelling performances, and great cinema, all under one roof.</p>

    </div>

    <Timeline client:load>Our History</Timeline>
    <OurStory client:load />
  </div>
</Layout>