---
import Layout from "../layouts/Layout.astro";
import Main from "../components/html-structure/Main.astro";


import OurStory from "../components/our-story.vue";
import Timeline from "../components/timeline.vue";
---




<Layout title="Blog | Site title">
  <Main>
    <Timeline client:load>Our History</Timeline>
    <OurStory client:load />
  </Main>
</Layout>

