---
import Layout from "../layouts/Layout.astro";
import Main from "../components/html-structure/Main.astro";


import About from "../components/About.vue";
import Timeline from "../components/Timeline.vue";
---




<Layout title="Blog | Site title">
  <Main>
    <Timeline client:load>Our History</Timeline>
    <About client:load />
  </Main>
</Layout>

