---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Main from "../components/html-structure/Main.astro";
import BlogList from "../components/blog/BlogList.astro";

const blogEntries = await getCollection("blog");
---

<!--
  This is the main blog page wrapper with the BlogList component.

  Use [slug].astro to render a single blog entry.

-->


<Layout title="Blog | Site title">
  <Main>

    <BlogList blogEntries={blogEntries} />
  </Main>
</Layout>
