---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Main from "../components/html-structure/Main.astro";
import EventList from "../components/event/EventList.astro";
import Content from "./event/content.mdx";
import HeroSecondary from "../components/hero-secondary.astro";

const eventEntries = await getCollection("event");
---

<Layout title="Upcoming shows & events">
  <HeroSecondary
    tagline="Come be entertained"
    title="Upcoming shows & events"
    content="Small writeup about what will be on this page">
  </HeroSecondary>

  <Main>
    <EventList eventEntries={eventEntries} />

    <div class="prose prose-2xl overflow-visible relative mb-20">
      <Content />
    </div>
  </Main>
</Layout>
