---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Main from "@/components/html-structure/Main.astro";
import EventList from "@/components/event/EventList.astro";
import HeroSecondary from "@/components/hero-secondary.astro";
import { CalendarDaysIcon } from "@heroicons/vue/24/outline";

// Only get non-past events and sort by date
const eventEntries = (await getCollection('event', ({ data }) => {
  return !data.past;
})).sort((a, b) => {
  return new Date(a.data.date).getTime() - new Date(b.data.date).getTime();
});
---

<Layout title="Upcoming shows & events">
  <!-- HeroSecondary text structure
    title case
    sentence case
    sentence case
  -->
  <HeroSecondary
    tagline="At the Palace Theatre in Daysland"
    title="Upcoming shows & events"
    content="All six concerts: $210 or $40 each. Students: $150 for all or $20 each."
  >
  <CalendarDaysIcon slot="icon" class="h-10" />
  </HeroSecondary>


  <Main>
    <EventList eventEntries={eventEntries} />
  </Main>

</Layout>