---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Main from "../components/html-structure/Main.astro";
import EventList from "../components/event/EventList.astro";
import HeroSecondary from "../components/hero-secondary.astro";

const eventEntries = await getCollection("event");
---

<Layout title="Upcoming shows & events">
  <!-- HeroSecondary text structure
    title case
    sentence case
    sentence case
  -->
  <HeroSecondary
    tagline="At the Palace Theatre in Daysland"
    title="Upcoming shows & events"
    content="All six concerts $180 or $35 per event"
  >
  </HeroSecondary>


  <Main>
    <EventList eventEntries={eventEntries} />
  </Main>

</Layout>