---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Main from "@/components/html-structure/Main.astro";
import EventList from "@/components/event/EventList.astro";
import HeroSecondary from "@/components/hero-secondary.astro";
import { CalendarDaysIcon } from "@heroicons/vue/24/outline";

const eventEntries = await getCollection("event");
---

<Layout title="Upcoming shows & events" description="Find information about upcoming events at Daysland Palace Theatre, including schedules, details, and ticket options.">
  <!-- HeroSecondary text structure
    title case
    sentence case
    sentence case
  -->
  <HeroSecondary
    tagline="At the Palace Theatre in Daysland"
    title="Upcoming shows & events"
    content="All six concerts: $210 or $40 each. Students: $150 for all or $20 each."
  >
  <CalendarDaysIcon slot="icon" class="h-10" />
  </HeroSecondary>


  <Main>
    <EventList eventEntries={eventEntries} />
  </Main>

</Layout>