---
import Layout from "../layouts/Layout.astro";
import Main from "../components/html-structure/Main.astro";
import Hero from "../components/home-hero.astro";
---

<Layout title="Daysland and District Cultural Arts Society | Theater">
  <Hero></Hero>
  <Main>
    <h1 class="text-4xl">test</h1>
    <h1>What's going on </h1>
  </Main>
</Layout>