---
import Layout from "../layouts/Layout.astro";
import Main from "../components/html-structure/Main.astro";
---

<Layout title="Become a member">
  <Main>
    <h1 class="text-4xl">Become a member</h1>
  </Main>
</Layout>
