---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Main from "../components/html-structure/Main.astro";
import MovieList from "../components/movie/MovieList.astro";
import HeroSecondary from "../components/hero-secondary.astro";

const movieEntries = await getCollection("movie");
---

<Layout title="Now playing at Daysland Theatre">
  <HeroSecondary
    tagline="Experience adventure"
    title="Now Playing"
    content="Small writeup about what will be on this page">
  </HeroSecondary>
  <Main>
    <MovieList movieEntries={movieEntries} />
  </Main>
</Layout>
