---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Main from "@components/html-structure/Main.astro";
import MovieList from "@components/movie/MovieList.astro";
import HeroSecondary from "@components/hero-secondary.astro";
import TheatreClosed from "@/components/theatre-closed.astro";

import { VideoCameraIcon } from '@heroicons/vue/24/outline';

interface MovieData {
  title: string;
  poster?: string;
  description?: string;
  cast?: string[];
  rating?: string;
  length?: string;
  genre?: string[];
  trailer?: string;
  showtimes?: string[];
  reelAlternative?: boolean;
}

interface Movie {
  data: MovieData;
  slug: string;
}

let movieEntries = (await getCollection("movie")) as unknown as Movie[];
let hasMovies = movieEntries && movieEntries.length > 0;
---

<Layout title="Now playing at Daysland Theatre">
  <!-- HeroSecondary text structure
    title case
    sentence case
    sentence case
  -->
  <HeroSecondary
    tagline="Experience Adventure"
    title="Now playing"
    content="Dive into our latest cinematic adventure">
    <VideoCameraIcon slot="icon" class="h-10" />
  </HeroSecondary>

  <Main>
    {hasMovies ? (
      <MovieList movieEntries={movieEntries} />
    ) : (
      <TheatreClosed />
    )}
  </Main>
</Layout>