---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Main from "../components/html-structure/Main.astro";
import MovieList from "../components/movie/MovieList.astro";
import HeroSecondary from "../components/hero-secondary.astro";

const movieEntries = await getCollection("movie");
---

<Layout title="Now playing at Daysland Theatre">
  <HeroSecondary
    tagline="Experience adventure"
    title="Now Playing"
    content="">
  </HeroSecondary>
  <Main>
    <h2>The Daysland Palace Theatre will not be showing movies for the month of December.</h2>
    <p>We wish you and your family a Merry Christmas & Happy New Year. Happy Holidays!</p>
    <!-- <MovieList movieEntries={movieEntries} /> -->
  </Main>
</Layout>
