---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Main from "@components/html-structure/Main.astro";
import MovieList from "@components/movie/MovieList.astro";
import HeroSecondary from "@components/hero-secondary.astro";
// import TheatreClosed from "@/components/theatre-closed.astro";

import { VideoCameraIcon } from '@heroicons/vue/24/outline';
const movieEntries = await getCollection("movie");
---

<Layout title="Now playing at Daysland Theatre">
  <!-- HeroSecondary text structure
    title case
    sentence case
    sentence case
  -->
  <HeroSecondary
    tagline="Experience Adventure"
    title="Now playing"
    content="Dive into our latest cinematic adventure">
    <VideoCameraIcon slot="icon" class="h-10" />
  </HeroSecondary>

  <Main>
    <!-- <TheatreClosed/> -->

    <MovieList movieEntries={movieEntries} />
  </Main>
</Layout>
