---
import Layout from "../layouts/Layout.astro";
import Main from "../components/html-structure/Main.astro";
import Content from './reel-alternative-film/content.mdx';
---

<Layout title="Reel Alternative Film">

  <Main>
    <h1>Reel Alternative Film</h1>

    <div class="prose prose-2xl overflow-visible relative mb-20">
      <Content />
    </div>
  </Main>

</Layout>
