---
import Layout from "../layouts/Layout.astro";
import Main from "../components/html-structure/Main.astro";
import HeroSecondary from "../components/hero-secondary.astro";
import Rentals from './rental/rental.mdx';
---

<Layout title="Rent our theatre space">
  <HeroSecondary
    tagline="Rent the theatre"
    title="We've got space for fun">
  </HeroSecondary>

  <Main>
    <Rentals />
  </Main>

</Layout>