---
import Layout from "../layouts/Layout.astro";
import Main from "../components/html-structure/Main.astro";
---

<Layout title="Rentals">
  <div class="prose prose-2xl overflow-visible relative mb-20">
    <Main>Rentals</Main>
  </div>
</Layout>