---
interface Props {
  tagline?: string;
  title?: string;
  content?: string;
}

const { title, tagline, content } = Astro.props;
---

<div class="py-10 px-6 relative bg-gradient-to-b from-charade-800 to-charade-950 text-white">

  <div class="mx-auto max-w-7xl px-0 lg:px-8 relative">
    <div class="mx-auto lg:mx-0 pb-6 mb-6">
      <p class="text-base font-semibold leading-7">{tagline}</p>
      <h1 class="flex mt-2 text-4xl font-bold tracking-tight sm:text-6xl items-start">
        {title}
        <span class="px-4 text-yellow-400">
          <slot name="icon" />
        </span>
      </h1>

      {content}

    </div>
  </div>

  <!-- <div class="absolute inset-0 shadow-[inset_0_-1px_0_rgba(22,27,59,0.04)]"></div> -->
</div>

