---
interface Props {
  tagline?: string;
  title?: string;
  content?: string;
}

const { title, tagline, content } = Astro.props;
---

<div class="py-10 px-6 relative bg-gradient-to-br from-white via-purple-50 via-80% to-fuchsia-50 to-90%">

  <div class="mx-auto max-w-7xl px-0 lg:px-8 relative">
    <div class="mx-auto lg:mx-0 pb-6 mb-6">
      <p class="text-base font-semibold leading-7 text-indigo-600">{tagline}</p>
      <h1 class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">{title}</h1>

      {content}

    </div>
  </div>

  <!-- <div class="absolute inset-0 shadow-[inset_0_-1px_0_rgba(22,27,59,0.04)]"></div> -->
</div>

