---
import { DevicePhoneMobileIcon, AtSymbolIcon } from "@heroicons/vue/20/solid";
---

<div class="w-full sticky top-0 z-10 bg-white shadow-[0_1px_3px_rgba(15,23,42,0.08)]">
  <div class="mx-auto flex max-w-7xl items-center justify-end p-2">
    <div class="flex px-2">
      <DevicePhoneMobileIcon class="mt-1 pr-1 h-5 w-5 flex-none text-slate-400" aria-hidden="true" />
      <a href="tel:+17803742403" class="text-sm leading-7 text-slate-400" aria-label="Call us at 780-374-2403">780-374-2403</a>
    </div>

    <div class="flex px-2">
      <AtSymbolIcon class="mt-1 pr-1 h-5 w-5 flex-none text-slate-400" aria-hidden="true" />
      <a href="mailto:info@daysarts.ca" class="text-sm leading-7 text-slate-400" aria-label="Email us at info@daysarts.ca">info@daysarts.ca</a>
    </div>
  </div>
</div>