---
import type { CollectionEntry } from 'astro:content';
import BlogPost from './BlogPost.astro';

type Props = {
  blogEntries: CollectionEntry<'blog'>[];
};

const { blogEntries } = Astro.props;
---

<div class="grid grid-cols-2 gap-x-16 gap-y-14">
  {blogEntries.map((blogEntry) => (
    <BlogPost blog={blogEntry} />
  ))}

</div>